body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    padding: 40px 149px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.topic {
    display: inline-flex;
    font-size: 47px;
}

.button-container {
    display: flex;
    align-items: center;

}

.button {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    color: #000000;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    align-items: flex-start;
}

.detail-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-heading h1 {
    font-size: 59px;
    width: 350px;
}

.detail-content h4 {
    color: grey;
    max-width: 370px;
    /* font-family: monospace; */
    line-height: 30px;
    padding-top: 26px;
    font-weight: 400;
}

.detail-content button {
    background-color: rgb(221, 57, 7);
    width: 213px;
    height: 40px;
    font-size: 15px;
    color: white;
}

.info {
    width: 300px;
    padding: 20px;
    background-color: rgb(33, 2, 49);
    color: white;
}

.info h1 {
    color: rgb(230, 143, 12);
}

.info p {
    color: rgb(209, 204, 204);
    line-height: 32px;
    font-size: 13px;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    display: flex;
    height: 125px;
}
.card-content{
    width: 223px;
}
.card-content h1{
    margin: 7px 5px;
    color: rgb(188, 186, 186);
}
.card-content h6{
    margin: 7px 5px;
    color: rgb(188, 186, 186);
    line-height: 19px;
}
.card-content h3{
    margin: 7px 0px;
}
.card-image{
    width: 120px;
    height: 95px;
}